/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

body,
html {
  margin: auto;
  overflow: hidden;
  height: 900px;
  max-height: 900px;
  width: 420px;
  max-width: 420px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 6px;
}
